@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
    --very-dark-blue-light-mode: hsl(207, 26%, 17%);
    /* For light mode text */
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}


body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--dark-blue);
    margin: 4rem;
    margin-top: 1rem;
    
}

.dark {
    background-color: var(--very-dark-blue);
    color: var(--white);

    .navbar-btn,
    #dropdown {
        color: var(--white);
    }

    option {
        background-color: var(--dark-blue);
        color: var(--white);
    }

    select {
        background-color: var(--dark-blue);
        color: var(--white);

    }
    a{
        color: aliceblue;
    }
}

/* header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 1px 1px 5px rgba(221, 228, 221, 0.161);
}

.navbar-brand {
    border: none;
    text-decoration: none;
    color: var(--very-dark-blue);
 
}

.navbar-btn {
    border: none;
    cursor: pointer;
    padding-left: 1rem;
    background-color: transparent;
    
}

/* search */
.searcher {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;

    input,
    #dropdown {
        border: 1px solid black;
    }


}

option {
    background-color: var(--white);
    /* color: var(--white); */
}


#dropdown {
    background-color: transparent;
    border: none;
}



.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.article {
    box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.76);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2rem;
}


.article-div {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-left: 1.5rem;

    p {
        margin: 0;

    }
}

.detail {
    display: flex;
}

.detail-btn {
    box-shadow: 1px 1px 5px rgba(221, 228, 221, 0.76);
    margin: 2rem 0 2rem 0;
    padding: 0.5rem;
    width: fit-content;
}

.detail-article {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid gray; */
    margin-left: 4rem;
    margin-top: 2rem;
    
    /* padding: 1rem; */
    p{
        margin-top: 0.2rem;

    }
    
}

.detail-article2 {
    display: flex;
    margin-left: 4rem;

    /* padding: 1rem; */
    button {
        margin: 0.5rem;
        background-color: var(--dark-blue);
        padding: 0 1rem 0 1rem;
        color: var(--white);
    }
}

.detail-articles {
    margin-left: 1rem;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(239, 242, 239, 0);

}

select {

    margin-left: 10px;
    background-color: var(--very-light-gray);
}

.art{
    transform: translate(-60%,10%);
}
